In [1]:
import pandas as pd
import numpy as np

In [2]:
path_labels = np.load(r'D:\jupyter\Diploma\edit_base\attr_img_new.npy',allow_pickle=True)
df = pd.DataFrame(path_labels, columns=['path','label'])

In [3]:
df['label'] = df['label'].str.replace('  ', ' ')

In [70]:
""" list_my = df.loc[41, 'label'].split(' ')
count_dict = {}
for value in list_my:
    if value in count_dict:
        count_dict[value] += 1
    else:
        count_dict[value] = 1

for key, value in count_dict.items():
    print(f"{key}: {value}") """

-1: 1000

In [5]:
for i in range(df.shape[0]):
    numbers = df.loc[i, 'label'].split(' ')
    positive_one_indices = []
    for j, num in enumerate(numbers):
        if num.strip(): 
            if int(num) == 1: 
                positive_one_indices.append(j)
    result_string = ','.join(map(str, positive_one_indices))  
    df.loc[i, 'label'] = result_string  
df.tail()

                                                     path           label
289217  C:/Users/USRx/Desktop/Daria/img_highres/Paisle...  30,681,682,730
289218  C:/Users/USRx/Desktop/Daria/img_highres/Paisle...         275,681
289219  C:/Users/USRx/Desktop/Daria/img_highres/Paisle...          30,681
289220  C:/Users/USRx/Desktop/Daria/img_highres/Paisle...  30,681,682,730
289221  C:/Users/USRx/Desktop/Daria/img_highres/Paisle...  30,681,760,880

In [6]:
df['label'] = df['label'].replace('', '1000')

In [7]:
df[df['label'].str.contains('1000')]

                                                     path label
10      C:/Users/USRx/Desktop/Daria/img_highres/Sheer_...  1000
41      C:/Users/USRx/Desktop/Daria/img_highres/Sheer_...  1000
51      C:/Users/USRx/Desktop/Daria/img_highres/Sheer_...  1000
62      C:/Users/USRx/Desktop/Daria/img_highres/Sheer_...  1000
73      C:/Users/USRx/Desktop/Daria/img_highres/Sheer_...  1000
...                                                   ...   ...
288862  C:/Users/USRx/Desktop/Daria/img_highres/Cutout...  1000
288948  C:/Users/USRx/Desktop/Daria/img_highres/Cutout...  1000
288959  C:/Users/USRx/Desktop/Daria/img_highres/Cutout...  1000
289131  C:/Users/USRx/Desktop/Daria/img_highres/Paisle...  1000
289132  C:/Users/USRx/Desktop/Daria/img_highres/Paisle...  1000

[12969 rows x 2 columns]

In [8]:
df = df.to_numpy()

In [9]:
np.save(r'D:\jupyter\Diploma\FinalFolder\attr_img_new_shorted.npy',df)